# Node modules
node_modules/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Logs
pnpm-debug.log*

# OS files
.DS_Store

# Env files
.env
.env.*

# Editor directories and files
.vscode/

# other
archive.zip
code.md
